<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Редактирование профиля</h4>
        <p class="card-category"></p>
    </div>
    <div class="card-body">

        <mat-form-field class="example-full-width">
            <mat-label>Ид</mat-label>
            <input matInput type="text" [(ngModel)]="data.model.id" disabled>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Логин</mat-label>
            <input matInput type="text" [(ngModel)]="data.model.login" [disabled]="data.action === 'edit'">

        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Пароль</mat-label>
            <input matInput type="password" [(ngModel)]="data.model.password">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Роль</mat-label>
            <input matInput type="text" [(ngModel)]="data.model.roleid">
        </mat-form-field>


    </div>
    <div class="card-footer">
        <button mat-mat-raised-button (click)="userAction()" class="btn btn-primary" [mat-dialog-close]="true"
                cdkFocusInitial>Сохранить
        </button>
        <button mat-mat-raised-button class="btn btn-danger pull-right" mat-dialog-close>Отмена</button>
    </div>
</div>

